.screen {
  margin: 0 auto;
  background: url(../sprites/screen-bg.png) center;
  background-size: cover;
  width: 960px;
  height: 640px;
  position: relative;
  overflow: hidden;
}
.tunnel {
  position: absolute;
  border: 1px solid red;
  width: 200px;
  height: 240px;
}
.tunnel .bg {
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: url(../sprites/tunnel-bg.png);
  background-size: contain;
}
.tunnel .way {
  position: absolute;
  width: 78px;
  height: 260px;
  border: 1px solid green;
  left: 65px;
  top: -80px;
}
.tunnel .cover {
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: url(../sprites/tunnel-cover.png);
  background-size: contain;
  opacity: 0.5;
}
.enemy {
  border: 1px solid blue;
  position: absolute;
  width: 78px;
  height: 100px;
  background-size: cover;
  top: 0;
  transition: top 0.5s linear, bottom 0.5s linear;
}
.enemy.up {
  top: 0;
}
.enemy.down {
  top: 160px;
}
.enemy.type1 {
  background-image: url(../sprites/enemy1.png);
}
.enemy.type2 {
  background-image: url(../sprites/enemy2.png);
}
.enemy .enemy-laser {
  width: 5px;
  height: 420px;
  background: red;
  position: absolute;
  transform: rotate(45deg);
  opacity: 1;
  left: -137px;
  top: -15px;
}
