.screen {
    margin: 0 auto;
    background-image: url(../sprites/screen-bg.png);
    background-position: center;
    background-size: cover;
    width: 960px;
    height: 640px;
    position: relative;
}

.tunnel {
    position: absolute;
    border: 1px solid red;
    width: 200px;
    height: 240px;
}

.tunnel .bg {
    background-image: url(../sprites/tunnel-bg.png);
    background-size: cover;
    opacity: 0.8;
}

.shoot-zone {
}