.screen {
    margin: 0 auto;
    background: url(../sprites/screen-bg.png) center;
    background-size: cover;
    width: 960px;
    height: 640px;
    position: relative;
}

@tunnelWidth: 200px;
@tunnelHeight: 240px;

@wayWidth: 78px;
@wayHeight: @tunnelHeight + 100 - 30;

.tunnel {
    position: absolute;
    border: 1px solid red;
    width: @tunnelWidth;
    height: @tunnelHeight;

    .bg {
        position: absolute;
        width: inherit;
        height: inherit;
        background-image: url(../sprites/tunnel-bg.png);
        background-size: contain;
        //        opacity: 0.4;
    }

    .way {
        position: absolute;
        width: @wayWidth;
        height: @wayHeight;

        border: 1px solid green;
        //        background-color: black;
        //        opacity: 0.3;

        left: 65px;

        top: -100px;

    }

    .cover {
        position: absolute;
        width: inherit;
        height: inherit;
        background-image: url(../sprites/tunnel-cover.png);
        background-size: contain;
        opacity: 0.5;
    }

}

@enemyHeight: 100px;
@enemyAnimationTopUp: 20px;
@enemyAnimationTopDown: @wayHeight - @enemyHeight;

.enemy {

    border: 1px solid blue;
    position: absolute;
    width: @wayWidth;
    height: @enemyHeight;
    background-size: cover;

    transition: top 0.5s linear, bottom 0.5s linear;

    &.looked {
        top: @enemyAnimationTopUp;
    }

    &.down {
        top: @enemyAnimationTopDown;
    }

    // Enemy types

    &.enemy1 {
        background-image: url(../sprites/enemy1.png);
    }

    &.enemy2 {
        background-image: url(../sprites/enemy2.png);
    }

}