body {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.screen {
    margin: 0 auto;
    background: url(sprites/screen-bg.png) center;
    background-size: cover;
    width: 960px;
    height: 640px;
    position: relative;
    overflow: hidden;

}

@tunnelWidth: 200px;
@tunnelHeight: 240px;

@tunnelBodyWidth: 126px;

@wayWidth: 78px;
@wayHeight: @tunnelHeight + 100 - 80;

.tunnel {
    position: absolute;
//    border: 1px solid red;
    width: @tunnelWidth;
    height: @tunnelHeight;

    .bg {
        position: absolute;
        width: inherit;
        height: inherit;
        background-image: url(sprites/tunnel-bg.png);
        background-size: contain;
        //        opacity: 0.4;
    }

    .way {
        position: absolute;
        width: @wayWidth;
        height: @wayHeight;

//        border: 1px solid green;
        //        background-color: black;
        //        opacity: 0.3;

        left: 65px;

        top: -80px;

    }

    .cover {
        position: absolute;
        width: inherit;
        height: inherit;
        background-image: url(sprites/tunnel-cover.png);
        background-size: contain;
        opacity: 1;
//        z-index: 100;
    }

}


@shoot-zone-offset: 10px;

.shoot-zone {

    position: absolute;
    background-color: blue;

    opacity: 0;

//    left: @tunnelWidth/2 - @tunnelBodyWidth/2 - @shoot-zone-offset;

//    width: @tunnelBodyWidth + @shoot-zone-offset*2;
//    height: 100px;

}



@enemyHeight: 100px;
@enemyPositionAtTop: 0;
@enemyPositionAtDown: @wayHeight - @enemyHeight;

.enemy {

//    border: 1px solid blue;
    position: absolute;
    width: @wayWidth;
    height: @enemyHeight;

    background-image: url(sprites/enemies.png);
    background-size: 780px;

    &.killed {
        background-position-y: 122px;
    }

    top: @enemyPositionAtTop;

    transition: top 0.5s linear, bottom 0.5s linear;

    &.up {
        top: @enemyPositionAtTop;
    }

    &.down {
        top: @enemyPositionAtDown;
    }

    // Enemy types


    @multiplier: 78px;

    &.type0 {
        background-position-x: @multiplier * 0;
    }

    &.type1 {
        background-position-x: @multiplier * 1;
    }

    &.type2 {
        background-position-x: @multiplier * 2;
    }

    &.type3 {
        background-position-x: @multiplier * 3;
    }

    &.type4 {
        background-position-x: @multiplier * 4;
    }

    &.type5 {
        background-position-x: @multiplier * 5;
    }

    &.type6 {
        background-position-x: @multiplier * 6;
    }

    &.type7 {
        background-position-x: @multiplier * 7;
    }

    &.type8 {
        background-position-x: @multiplier * 8;
    }

    &.type9 {
        background-position-x: @multiplier * 9;
    }



    // Lasers
    .enemy-laser {

        @enemy-laser-width: 5px;
        @enemy-laser-height: 500px;

        @enemy-laser-offset-x: 30px;
        @enemy-laser-offset-y: 40px;

        @enemy-laser-rotate: -5deg;

        width: @enemy-laser-width;
        background: red;
        position: absolute;
        opacity: 1;

        z-index: 200;

        &.laser0 {

            @enemy-laser-offset-x: 93px;
            @enemy-laser-offset-y: 21px;

            @enemy-laser-height: 400px;

            @enemy-laser-rotate: -20deg;

            top: @enemy-laser-offset-y;
            left: @enemy-laser-offset-x;

            height: @enemy-laser-height;
            transform: rotate(@enemy-laser-rotate);

        }

        &.laser1 {

            @enemy-laser-offset-x: 49px;
            @enemy-laser-offset-y: 31px;

            @enemy-laser-height: 500px;

            @enemy-laser-rotate: -3deg;

            top: @enemy-laser-offset-y;
            left: @enemy-laser-offset-x;

            height: @enemy-laser-height;
            transform: rotate(@enemy-laser-rotate);

        }

        &.laser2 {

            @enemy-laser-offset-x: 42px;
            @enemy-laser-offset-y: 21px;

            @enemy-laser-height: 350px;

            @enemy-laser-rotate: -5deg;

            top: @enemy-laser-offset-y;
            left: @enemy-laser-offset-x;

            height: @enemy-laser-height;
            transform: rotate(@enemy-laser-rotate);

        }

        &.laser3 {

            @enemy-laser-offset-x: -27px;
            @enemy-laser-offset-y: 21px;

            @enemy-laser-height: 480px;

            @enemy-laser-rotate: 15deg;

            top: @enemy-laser-offset-y;
            left: @enemy-laser-offset-x;

            height: @enemy-laser-height;
            transform: rotate(@enemy-laser-rotate);

        }

        .eye-point {
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: red;
            top: -10px;
            left: -8px;
            border-radius: 20px;
        }

        .fire-point-container{
            position: absolute;
            bottom: 0;

            .fire-point {
                position: absolute;
                top: -100px;
                left: -60px;

                background-image: url(sprites/laser-burning.png);
                width: 128px;
                height: 128px;
                -webkit-animation: laser-burning 0.7s 0s step-end infinite;
            }

        }

    }

}

.gun {

    z-index: 500;
    width: 1000px;
    height: 700px;
    background: url(sprites/gun.png) no-repeat 50px 25px;
    background-size: 120%;
    position: absolute;
//    top: 180px;
//    left: 317px;

    .sight {

        opacity: 0.4;

        .vertical-line {
            position: absolute;
            width: 3px;
            height: 30px;
            background-color: yellow;
            left: 13px;
            top: 0;
        }

        .horizontal-line {
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: yellow;
            left: 0;
            top: 13px;
        }

    }

}

.score {

    font: 100pt Arial;
    text-shadow: 7px 2px 0 white;
    color: red;
    position: absolute;
    right: 40px;
    bottom: 20px;
    z-index: 600;

    .required {

        font-size: 40pt;
        text-shadow: 4px 2px 0 white;

    }

}

.heals-line-container {

    .heals-line {

        height: 30px;
        background: red;
        opacity: 0.5;
//        position: absolute;
        top: 0;
        left: 0;

        transition: opacity 0.3s;

        &.shooted {
            opacity: 1;
        }

    }

    width: 100%;
    padding: 10px 20px 0 20px;

}

.mouse-move-plane {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    cursor: none;
}

.become-black-plane {

    transition: background 5s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;



    &.black {

        background: black;

    }

}

.fail-plane {
    position: absolute;
    background: rgba(158, 11, 11, 0.65);
    width: 100%;
    top: 227px;
    height: 150px;
    vertical-align: middle;
    font: 77pt 'Arial';
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 17px;
    z-index: 900;

    opacity: 0;

    transition: opacity 2s;

    &.show {

        opacity: 1;

    }
}

@-webkit-keyframes laser-burning {

    6% {
        background-position: 0 0;
        width: 128px;
        height: 128px;
    }
    12% {
        background-position: 0 -178px;
        width: 128px;
        height: 128px;
    }
    18% {
        background-position: 0 -356px;
        width: 128px;
        height: 128px;
    }
    24% {
        background-position: 0 -534px;
        width: 128px;
        height: 128px;
    }
    30% {
        background-position: 0 -712px;
        width: 128px;
        height: 128px;
    }
    36% {
        background-position: 0 -890px;
        width: 128px;
        height: 128px;
    }
    42% {
        background-position: 0 -1068px;
        width: 128px;
        height: 128px;
    }
    48% {
        background-position: 0 -1246px;
        width: 128px;
        height: 128px;
    }
    54% {
        background-position: 0 -1424px;
        width: 128px;
        height: 128px;
    }
    60% {
        background-position: 0 -1602px;
        width: 128px;
        height: 128px;
    }
    66% {
        background-position: 0 -1780px;
        width: 128px;
        height: 128px;
    }
    72% {
        background-position: -178px 0;
        width: 128px;
        height: 128px;
    }
    78% {
        background-position: -178px -178px;
        width: 128px;
        height: 128px;
    }
    84% {
        background-position: -178px -356px;
        width: 128px;
        height: 128px;
    }
    90% {
        background-position: -178px -534px;
        width: 128px;
        height: 128px;
    }
    100% {
        background-position: -178px -712px;
        width: 128px;
        height: 128px;
    }

}