<html>

<head>

    <link rel="stylesheet" href="css/main.css"/>

    <script src="bower_components/requirejs/require.js" data-main="main.js"></script>

</head>

<body>


<!-- screen -->
<div class="screen">

    <!-- tunnels group -->
    <div ng-controller="TunnelController">

        <!-- tunnel -->
        <div ng-repeat="( tunnelIndex, tunnel ) in tunnels"
             ng-click="enemies[ tunnelIndex ].togglePosition()"

             class="tunnel"
             style=" {{ getStyleByPos( tunnel.position.x, tunnel.position.y ) }} ">

            <div class="bg"></div>
            <div class="way">

                <!-- enemy in tunnel -->
                <div class="enemy
                type{{ enemies[ tunnelIndex ].type }}
                {{ enemies[ tunnelIndex ].position }}">

                    <div class="enemy-laser">
                        <div class="eye-point"></div>
                        <div class="fire-point"></div>
                    </div>

                </div>



            </div>
            <div class="cover"></div>

        </div>

    </div>

</div>


</body>


</html>